# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Maven
target/

# Arquivos temporários e compilados
*.log
*.class
*.jar
*.war
*.db

# Sistema operacional
.DS_Store

# Arquivos sensíveis
.env
